@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
$primary-color: #000;
$primary-font: 'IBM Plex Mono', monospace;

.footer {
    @apply flex justify-center items-center w-full h-24 text-sm flex-col;
    font-family: $primary-font;

    .icons {
        @apply flex gap-4 mt-2;

        ul {
            @apply flex gap-4;

        }
    }
}

.navbar {
    @apply mx-auto text-sm rounded-sm h-16 flex gap-0 z-10 px-10;
    @apply xl:w-full md:w-10/12 sm:w-full;


    &__config {
        @apply w-3/12 flex gap-2;


        .form {
            @apply flex flex-row;

            .language {
                @apply flex flex-row gap-2 items-center;
                color: red;


            }
        }
    }
}




.hard__skills {
    @apply flex flex-col items-center justify-center w-full h-full;

    ul {
        @apply flex flex-row mx-auto w-full items-center justify-center gap-20;
        // @apply lg:gap-14 md:gap-10;

        li {
            @apply justify-center items-center flex flex-col gap-4 duration-150 transform opacity-0 ease-out;

            .icon {
                @apply text-center w-12 h-12;
                // @apply lg:w-8 md:w-6;
            }

            .name {
                @apply text-center text-xs mt-1;
                // @apply md:hidden;
                font-family: $primary-font;
            }
        }

        li:hover {
            @apply scale-125 cursor-pointer;

            .icon {
                @apply duration-150 ease-out -translate-y-1;
            }

        }


    }
}


.soft__skills {
    @apply flex flex-col items-center justify-center w-full h-full;

    ul {
        @apply flex flex-row mx-auto w-full items-center justify-center gap-16 h-full;
        // @apply lg:gap-14 md:gap-10 sm:gap-8 xl:w-8/12 md:w-10/12 sm:w-full;

        li {
            @apply justify-center items-center flex flex-row gap-4 duration-150 text-center;
            @apply h-12;
        }

        li:hover {
            @apply scale-125 cursor-default;
            animation: rebound 0.3s ease-in-out;
        }
    }
}

@keyframes rebound {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }
}