.content {
    @apply   items-center justify-center flex pb-20;

    .home {
        @apply  flex gap-2 px-16 py-32 pb-10 lg:px-32 justify-between;

        &__info {
            // @apply 
            @apply lg:fixed w-full lg:max-h-screen justify-between;

            &__title {
                @apply font-bold text-left;
                @apply xl:text-4xl sm:text-3xl;
            }

            &__profession {
                // @apply text-2xl font-semibold text-left mb-6;
                // font-family: 'IBM Plex Mono', monospace;
            }

            &__navbar {
                @apply flex flex-col w-full mt-32 gap-10;


                &__link {
                    // @apply text-slate-900;
                    @apply flex items-center w-full cursor-pointer;


                  a {
                    @apply items-center justify-start;
                    font-family: 'IBM Plex Mono', monospace;
                    font-size: 1rem;
                    display: flex !important;

                    span {
                        @apply  mr-4;
                        height: 1px;
                        width: 3rem;
                        display: inline-block;
                        // font-size: 0.8rem;
                        // background-color: ;
                        @apply duration-300 ease-out;
                
                    }

                  }

                }

                &__link:hover {
                    a {
                        span {
                            width: 4.9rem;
                        }
                    }
                }
               
            }

            p {
                @apply text-left block w-10/12 mt-10;
                @apply font-medium;
                // font-family: monospace;
            }

            // &__swiper {
            //     @apply mt-12 w-1/2 mx-auto h-full;
            //     // @apply 2xl:w-1/2 lg:w-5/12 md:w-3/12 sm:w-2/12;

            //     &__container {
            //         @apply h-full;

            //         &__slide {
            //             @apply flex flex-col items-center justify-center;
            //         }
            //     }
            // }
        }

        &__view {
            // ponlo al final del div
            @apply relative w-1/2 h-full;
            @apply left-3/4 top-3/4 transform -translate-x-2/4 translate-y-1;
            &__experience {

                &__container {
                    @apply w-fit mx-auto px-4;

                   ul {
                    @apply grid grid-cols-3 gap-16 mx-auto mb-20;

                    li {
                        @apply flex text-center flex-col items-center justify-center gap-4;

                        svg {
                            @apply w-12 h-12;
                        }
                    }
                     
                   }
                }
            }
        }
    }

    .experience {
        @apply mx-auto w-full;
        overflow: auto;
        // @apply lg:w-8/12 md:w-10/12 sm:w-11/12;

        &__container {
            @apply mx-auto;

            &__boxes {
                @apply flex flex-col gap-12;

                &__item {
                    @apply  flex items-center;

                    &__point {
                        @apply relative z-10 flex-shrink-0 h-6 w-6 border-2 border-blue-400 rounded-full bg-gray-800;
                        @apply text-center text-xs leading-5;
                    }

                    &__card {
                        @apply ml-5 p-4 rounded-lg shadow-md w-11/12 border-2;

                        &__header {
                            @apply flex items-center justify-between mb-2;

                            &__title {
                                @apply text-lg font-semibold;
                            }
                        }

                        p {
                            @apply text-sm;
                            @apply lg:text-sm md:text-xs sm:text-xs;
                        }

                        ul {
                            @apply mt-2;

                        }
                    }

                    &__stack {
                        @apply space-x-52;
                    }

                    &__line {
                        @apply absolute -inset-y-10 left-2.5 w-0.5 bg-blue-900;
                    }
                }

                &__item:hover {


                    &__stack {
                        @apply block;
                    }
                }
            }
        }
    }

    .resume {
        @apply flex items-center justify-center;

        &__container {
            @apply mt-32 mx-auto flex justify-center items-center;

            &__button {
                @apply items-center justify-center rounded-lg w-full p-3 text-slate-900 font-semibold ease-in-out transition-all duration-300 border-2 border-slate-900;
                font-family: 'IBM Plex Mono', monospace;
            }

            &__button:hover {
                @apply shadow-inherit;

                &__icon {
                    animation: alternate 0.5s ease-in-out infinite;
                }
            }

        }
    }
}